@model TDSTecnologia.Site.Web.ViewModels.CursoViewModel
@{ Layout = "_Layout";}

@{
    ViewData["Title"] = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
</head>
<body>
    <!--<h1>Projeto TDS Tecnologia</h1>-->
    <div class="text-center text-secondary">
        <h1>Próximos Cursos</h1>
        <p>Veja aqui nossos proximos cursos agendados, se preferir acesso nosso <b>Calendário completo</b>.</p>
    </div>
    <div class="row">
        @if (Model.CursosComPaginacao.TotalItemCount > 0)
        {
            @await Html.PartialAsync("_CardPaginacaoCursoPartial.cshtml", Model.CursosComPaginacao);
        }
    </div>
</body>
</html>